<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/home" class="navbar-brand">MagicOven</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/addrecipe">Add Recipe</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                
                <li><a routerLink="/bookmark">
                    <button><i class="bi bi-bookmark-fill"></i></button>
                </a></li>
                <li><a routerLink="/myrecipe">My Recipes</a></li>
                <li><a>Hello {{ name }}</a></li>
                <li><a routerLink="/login">
                    <button (click)="logout()">LogOut</button></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
        <div class="col-sm-3" 
            *ngFor = "let recipe of recipes">
            <i class="bi bi-bookmark-fill" (click)="unMark(recipe.id)" *ngIf="recipe.bookmarked"></i>
                <h1>{{ recipe.recipe_name }}</h1>
                <p>{{ recipe.ingredients | slice:0:80 }}...</p>
                <p>{{ recipe.description | slice:0:200 }}...</p>
                <br/>
                <small>{{ recipe.created_at | date }}</small>
                <a class="readmore" [routerLink]="['/recipedetail', recipe.id]"><u>Read More</u></a>
        </div>
        <div class="col-sm-3" *ngIf=" res!='' ">{{ res }}</div>
</div>
