.navbar-default{
    background-color: rgb(100, 192, 100);
}
.navbar-default .navbar-brand {
    color: white;
    font-family: Brush Script MT;
    font-size: 30px;
    padding-left: 25px;
    padding-top: 16px;
}
.container{
    padding-right: 0; 
    padding-left: 60px;
    margin-right: 0;
    margin-left: 12px;
    width: 98%;
    height: fit-content;
    background-image: url("../../assets/images/recipes-2.jpg");
    padding-bottom: 50px;
}
.row{
    padding-left: 280px;
}
.col-sm-3{
    background-color: rgba(0,0,0,.8);
    color: #fff;
    margin-top: 30px;
    height: 190px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    margin-left: 20px;
    width: 45%;
}
.navbar-default .navbar-nav > li > a{
    color: white;
    margin-top: 3px;
    font-size: 18px;
    font-family: auto;
}
button{
    background-color: transparent;
    border: 0;
}
p{
    color: white;
}
.form-inline .form-control {
    width: 40%;
    margin-top: 20px;
    margin-left: 20px;
}
.search{
    background-color: #59a959;
    color: white;
    margin-top: 19px;
    margin-left: -7px;
    border-radius: 0;
}
.readmore{
    color: #809ee7;
    margin-left: 345px;
}
small{
    font-size: 75%;
}